/*  _variables.scss

    configuration for the theme of the app: controls the color scheme,
    fonts and other miscellaneous variables
 */

@import "./fonts";

/* fonts */
$font-sans: $hk_grotesk, -apple-system, BlinkMacSystemFont, "Segoe UI" "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue";
$font-serif: $source_serif_pro, Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$font-mono: $ibm_plex_mono, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

$font-size: 16px;
$font-size-rem: 1rem;

/* colors */
$text-color: #fff;
$soft-accent-color: rgba(#eae6ff, .5);
$accent-color: #5243aa;
$secondary-color: #221c48;

$bg-color: $secondary-color;
$bg-color-alt: $text-color;

/* other */
$transition: all 0.25s ease-in-out;
$box-shadow: 0px 10px 60px -40px rgba($accent-color, .75);
