/*  main.scss

    purpose: to contain all the necessary imports that will be exported
    to the main react component

    custom:
      - _normalize.scss & _reset.scss => CSS resets
      - _fonts.scss => font imports
      - _variables.scss => theme config
      - _global.scss => globally scoped styles

    vendor:
      - bootstrap => bootstrap media breakpoints
      - rfs => responsive font sizing
 */

// reset
@import "./normalize";
@import "reset";

// vendor
@import "~bootstrap/scss/bootstrap";
@import "~rfs/scss";

// base
@import "./fonts";
@import "./variables";

// scaffolding
@import "./global";
