/* fonts.scss: font imports
 =============== */

/* BwModelica */

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Hairline.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Thin.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Bw Modelica";
  src: url("../../assets/fonts/BwModelica/BwModelica-Black.otf");
  font-weight: 900;
}
