/* variables.scss: theme config
 =============== */

$font-sans: "Bw Modelica", -apple-system, BlinkMacSystemFont, "Segoe UI",
"Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
$base-size: 1rem;

$bg-color: #091147;
$text-color: #fff;
$accent-color: #d727a1;
$secondary-color: #350562;

$transition: all 0.25s ease;
